#main{
 background-color: black;
 color:black;
}

h1
{
   color: white;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font: weight 200px; ;
  font-style: normal;
  text-align: center;
  font-size: 80px;

}


.one{
        text-align: center;
        margin-top: 20px; 
        border-color: white;
        padding: 20px;
        border-width: 10px;
}

h3{
         color: white;
         text-align: center;
         font-size: 30px;

}
.two{background-color: black;}
.three{text-transform: uppercase;}